---
import Footer from "../components/layout/Footer.astro";
import NavBar from "../components/layout/NavBar.astro";
import "../styles/global.css";

interface Props {
    title: string;
    description: string;
    keywords: string[];
    canonical: string;
}

const { title, description, keywords, canonical } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-background-light-10 dark:bg-background-dark-90 scroll-smooth [tap-highlight-color:transparent] dark:text-white">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/assets/logo/Inertia" />
    <meta property="og:url" content={`https://inertiaorg.github.io/website` + canonical} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="PaperMC" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/assets/logo/256x.png" />
    <link rel="canonical" href={`https://inertiaorg.github.io/website` + canonical} />
    <link rel="icon" href="/favicon.ico" />
    <title>{`${title} | InertiaOrg`}</title>
</head>
<body class="flex min-h-screen flex-col">
<main class="flex-1">
    <slot />
</main>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>